body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#tree-map {
  font-size: x-small;
  padding: 10px;
}

#tooltip {
  padding: 10px;
  text-align: left;
  font-size: small;
  background-color: #e2e1cd;
  position: absolute;
  visibility: hidden;
}